.main {
    background-color: #18181b; 
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    color: white; 
    justify-content: center;
  }
  
  .header {
    font-size: 1.875rem; 
    font-weight: bold; 
    padding: 2rem 0;
  }
  